:root {
  --background-color: #fff;
  --background-color-light: #e5e5e5;
  --background-color-Try: #e2e2e2;
  --highlight-color: #eaca1c;
  --text-color: #000;
  --text-color-light: #fff;
  --font-family: "Helvetica", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  width: 100%;
  background-color: var(--highlight-color);
  padding: 10px;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  flex-wrap: wrap;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header__left {
  display: flex;
  align-items: center;
  flex-basis: 380px;
}

.logo__img {
  width: 70px;
  margin-right: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__item {
  display: flex;
  align-items: center;
  flex-basis: 110px;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  height: 75px;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.navigation__link:hover {
  color: var(--text-color);
}

.navigation__span {
  font-size: 1rem;
}

.navigation__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0px;
  transition: width 0.3s;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  height: 100%;
  margin: 100px auto;
  padding: 10px;
}

.img_izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.card__image-img {
  width: 100%;
  height: auto;
}

.card_content {
  background-color: var(--background-color);
  flex-basis: 100%;
}

.card_content--title {
  font-size: 4vw;
  margin-left: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card_content--texto {
  font-size: 2vw;
  margin: 10px 20px;
}

.card_content--boton {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: none;
  background-color: var(--highlight-color);
  width: 130px;
  height: 50px;
}

/* Centrado */
.centrado__title {
  width: 100%;
  font-size: 6vw;
  color: var(--highlight-color);
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
  padding: 20px;
}

.centrado__texto {
  font-size: 2vw;
  width: 100%;
}

.centrado__boton {
  font-size: 2vw;
  border: none;
  background-color: var(--background-color-light);
  color: var(--text-color);
}

/* We Section */
.we-container {
  display: flex;
  flex-direction: column;
  background-color: var(--highlight-color);
  padding: 20px;
}

.we-title {
  font-size: 6vw;
  text-align: center;
  margin: 20px auto;
}

.we-content {
  background-color: var(--highlight-color);
  margin: 0 auto;
}

.we-text {
  font-size: 2vw;
  margin: 10px;
}

.we-button {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--text-color);
  color: var(--text-color-light);
  width: 180px;
  height: 50px;
}

/* Happy Section */
.HAPPY {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
  width: 100%;
  margin: 0 auto;
  box-shadow: 20px 30px 20px rgb(182, 182, 182);
}

.img_happy {
  width: 100%;
  height: auto;
}

.Happiness_content {
  background-color: var(--background-color-light);
  margin: 0 auto;
}

.Happiness_content--title {
  font-size: 6vw;
  color: var(--highlight-color);
  text-align: center;
}

.Happiness_content--texto {
  font-size: 2vw;
  margin: 10px;
  text-align: center;
}

.Happiness_content--boton {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--text-color);
  color: var(--text-color-light);
  width: 180px;
  height: 50px;
}

/* About Us */
.ABOUT {
  background-color: var(--text-color);
  color: var(--text-color-light);
  padding: 20px;
  text-align: center;
}

.About_content--title {
  font-size: 4vw;
  color: var(--highlight-color);
  margin: 10px 0;
}

.About_content--texto {
  font-size: 1vw;
  max-width: 100%;
  color: var(--text-color-light);
}

.img_about {
  width: 100%;
  height: auto;
}

/* Our Team */
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.team__title {
  font-size: 6vw;
  font-weight: bold;
}

.team__text {
  font-size: 2vw;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* TRY OUR Section */
.TRY {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-Try);
  padding: 20px;
}

.Try__title {
  font-size: 6vw;
  text-align: center;
}

/* Formulario - Subscribete */
.formulario-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: var(--text-color);
}

.formulario-name,
.formulario {
  width: 100%;
}

.formulario__paraffo,
.formulario__mensaje {
  width: 100%;
  font-size: 1vw;
}

.subcribete__title {
  font-size: 6vw;
  color: var(--highlight-color);
}

/* Contact */
.contact-section {
  background-color: var(--highlight-color);
  text-align: center;
  padding: 30px;
}

.contact-title {
  font-size: 6vw;
  font-weight: bold;
}

.contact-description {
  font-size: 2vw;
  color: var(--background-color-light);
}

/* Footer */
.footer {
  background-color: var(--text-color);
  width: 100%;
  padding: 20px;
}

.redes__title {
  font-size: 2vw;
  color: var(--text-color-light);
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
