:root {
  --background-color: #fff;
  --background-color-light: #e5e5e5;
  --background-color-Try: #e2e2e2;
  --highlight-color: #eaca1c;
  --text-color: #000;
  --text-color-light: #fff;
  --font-family: "Helvetica", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.container {
  display: flex;
  padding: 2vw;
  max-width: 100%;
  margin: 2vh;
}

/* header */
header {
  grid-area: header;
  width: 100%;
  background-color: var(--highlight-color);
  padding: 0 1vw;
  top: 0;
  z-index: 100;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  position: fixed;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 0 1 20vw;
}

.logo__img {
  width: 3.5vw;
  margin-right: 1vw;
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__item {
  display: flex;
  align-items: center;
  width: 5vw;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.1vw;
  text-align: center;
  font-weight: 400;
  min-height: 4vh;
  min-width: 4vw;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.navigation__span {
  font-size: 1rem;
}

.navigation__link::after {
  content: "";
  width: 0;
  height: 0.2vh;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0px;
  transition: width 0.3s;
}
/* sidebar */
.sidebar {
  margin: 5vh;
  background-color: var(--background-color);
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.img_izquierda {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image-img {
  width: 100%;
  max-width: 40vw;
}

.card_content {
  background-color: var(--background-color);
  width: 100%;
  max-width: 40vw;
}
.card_content--title {
  font-size: 4vw;
  display: grid;
  margin-left: 1vw;
}

.card_content--texto {
  font-size: 1.5vw;
  margin: 0.5vw;
  margin-left: 1vw;
}

.card_content--boton {
  font-size: 1vw;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  border: none;
  background-color: var(--highlight-color);
  width: 6vw;
  height: 3vh;
}

/* centrado */
.centrado__title {
  width: 25vw;
  height: 5vh;
  font-size: 2.5vw;
  color: var(--highlight-color);
}

.centrado {
  position: absolute;
  top: -9vh;
  left: 15vw;
  height: 20vh;
  display: flex;
  align-items: center;
  background-color: var(--background-color-light);
  justify-content: space-evenly;
  max-width: 100%;
}

.centrado__posicion{
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 40vw;
}

.centrado__texto {
  margin-top: 2vh;
  width: 15vw;
  height: 4vh;
  font-size: 1vw;
}

.centrado__boton {
  font-size: 1vw;
  border: none;
  background-color: var(--background-color-light);
  color: var(--text-color);
}

.pruba {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 20vh;
  background-color: var(--highlight-color);
  margin: 5vh;
  top: 50%;
}

.derecha {
  padding: 1.5vw;
  background-color: var(--highlight-color);
  margin-top: 10vh;
  width: 100%;
  height: 15vh;
  position: relative;
}

/* we */
.we-container {
  background-color: var(--highlight-color);
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "arriba arriba"
    "abajo-izquierda abajo-derecha";
}

.we-title {
  grid-area: arriba;
  margin-left: 7.5vw;
  margin-top: 10vh;
  font-size: 4vw;
  width: 35vw;
}

.we-content {
  grid-area: abajo-izquierda;
  margin-left: 7.5vw;
}

.we-text {
  font-size: 1.2vw;
  margin: 0.5vw;
  margin-right: 3vw;
}

.we-button {
  font-size: 1vw;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
  margin-top: 2vw;
  width: 9vw;
  height: 3vh;
}
